## Java
*.class
*.war
*.ear
hs_err_pid*

## Android Studio
android/libs/
android/gen/
*.iml
*.iws
*.ipr

## Gradle
.gradle
gradle-app.settings
gradle/
build/
gradle.properties
local.properties
.idea/

## Other
.DS_Store
captures/
.externalNativeBuild
